<div id="leftNotebook" th:fragment="leftNotebook"  style="width: 170px;">
	<div id="notebook">
		<div class="folderNote opened" id="myNotebooks">
			<div class="folderHeader clearfix">
				<i class="fa fa-book pull-left fa-left"></i> 
					<span class="pull-left" th:text="#{notebook}">Notebook</span>
				<div class="pull-right" id="addNotebookPlus" title="addNotebook" th:title="#{addNotebook}">
					<i class="fa  fa-plus" title="addNotebook" th:title="#{addNotebook}"></i>
				</div>
			</div>

			<div class="folderBody">
				<input type="text" class="form-control" id="searchNotebookForList"
					placeholder="SearchNotebook" th:placeholder="#{SearchNotebook}" />
				<ul class="ztree" id="notebookList"></ul>
				<ul class="ztree" id="notebookListForSearch"></ul>
			</div>
		</div>

		<div class="folderNote closed" id="myTag">
			<div class="folderHeader">
				<i class="fa fa-bookmark fa-left"></i> <span th:text="#{tag}">Tag
				</span>
			</div>

			<ul class="folderBody clearfix" id="tagNav">
				<li data-tag="red"><a> <span class="label label-red" th:text="#{red}">red</span></a></li>
				<li data-tag="blue"><a> <span class="label label-blue" th:text="#{blue}">blue</span></a></li>
				<li data-tag="yellow"><a> <span class="label label-yellow" th:text="#{yellow}">yellow</span></a></li>
				<li data-tag="green"><a> <span class="label label-green" th:text="#{green}">green</span></a></li>
			</ul>
		</div>

		<div class="folderNote closed" id="myShareNotebooks">
			<div class="folderHeader">
				<i class="fa fa-user fa-left"></i> <span th:text="#{share}">share</span>
			</div>

			<ul class="folderBody" id="shareNotebooks">

			</ul>
		</div>

	</div>

	<!-- 缩小版 todo 不要展示, 点击展开即可 -->
	<div id="notebookMin">
		<!-- 这里隐藏, 不要 -->
		<div target="#notebookList" title="" th:title="#{notebook}"
			class="minContainer">
			<i class="fa fa-book"></i>
			<ul class="dropdown-menu" id="minNotebookList">
			</ul>
		</div>
		<div target="#tagNav" title="" th:title="#{myTag}"
			class="minContainer">
			<i class="fa fa-bookmark"></i>
			<ul class="dropdown-menu" id="minTagNav">
			</ul>
		</div>
		<div id="minShareNotebooks">
			<div class="minContainer" target="#friendContainer0" title=""
				th:title="#{share}" />
			<i class="fa fa-user"></i>
		</div>
	</div>
</div>