				<div id="noteList" th:fragment="noteList">
					<div class="clearfix" id="notesAndSort" style="position: relative">
						<div class="pull-left">
							<!-- 我的笔记本 -->
							<div class="dropdown" id="myNotebookNavForListNav">
								<a class="ios7-a">
								<span id="curNotebookForListNote" th:text="#{all}">Newest</span>
								</a>
							</div>

							<!-- 共享的笔记本 -->
							<div class="dropdown" id="sharedNotebookNavForListNav"
								style="display: none">
								<a class="ios7-a"> <span id="curSharedNotebookForListNote" th:text="#{all}">Newest</span>
								</a>
							</div>
						</div>
						<!-- tag search -->
						<div class="pull-left" id="tagSearch"></div>
						<!-- sort type -->
						<div id="sortType">
							<div class="dropdown">
								<a class="ios7-a dropdown-toggle" id="dropdownMenu1"
									data-toggle="dropdown"> <i class="fa fa-th-list"></i>
								</a>
								<ul class="dropdown-menu" role="menu"
									aria-labelledby="dropdownMenu1">
									<li role="presentation"><a data-view="snippet"
										class="view-style view-snippet" role="menuitem"> <i
											class="fa fa-check"></i>
											<span th:text="#{Snippet_View}">Snippet View</span>
									</a></li>
									<li role="presentation">
										<a data-view="list" class="view-style view-list" role="menuitem"> 
											<i class="fa fa-check"></i>
											<span th:text="#{List_View}">List View</span>
										</a>
									</li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a data-sorter="dateCreatedASC"
										class="sorter-style sorter-dateCreatedASC" role="menuitem">
											<i class="fa fa-check"></i> 
											<span th:text="#{Date_Created}">Date Created</span>
											<i class="fa fa-sort-alpha-asc"></i>
									</a></li>
									<li role="presentation"><a data-sorter="dateCreatedDESC"
										class="sorter-style sorter-dateCreatedDESC" role="menuitem">
											<i class="fa fa-check"></i>
											<span th:text="#{Date_Created}">Date Created</span>
											<i class="fa fa-sort-alpha-desc"></i>
									</a></li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a data-sorter="dateUpdatedASC"
										class="sorter-style sorter-dateUpdatedASC" role="menuitem">
											<i class="fa fa-check"></i>
											<span th:text="#{Date_Updated}">Date Updated</span>
											<i class="fa fa-sort-alpha-asc"></i>
									</a></li>
									<li role="presentation"><a data-sorter="dateUpdatedDESC"
										class="sorter-style sorter-dateUpdatedDESC checked"
										role="menuitem"> <i class="fa fa-check"></i> 
										<span th:text="#{Date_Updated}">Date Updated</span>
										<i class="fa fa-sort-alpha-desc"></i>
									</a></li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a data-sorter="titleASC"
										class="sorter-style sorter-titleASC" role="menuitem"> <i
											class="fa fa-check"></i> 
											<span th:text="#{Title}">Title</span>
											<i class="fa fa-sort-alpha-asc"></i>
									</a></li>
									<li role="presentation"><a data-sorter="titleDESC"
										class="sorter-style sorter-titleDESC" role="menuitem"> <i
											class="fa fa-check"></i> 
											<span th:text="#{Title}">Title</span>
											<i class="fa fa-sort-alpha-desc"></i>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- 笔记列表 -->
					<!-- wrap 为了slimScroll -->
					<div id="noteItemListWrap">
						<ul id="noteItemList">
						</ul>
					</div>
				</div>