			<!-- 头部 -->
			<div id="header" th:fragment="header">
				<a id="logo" href="/" title="" th:title="'Leanote '+#{home}" class="pull-left"></a>
				<div id="switcher" class="pull-left">
					<i class="fa fa-dedent" id="leftSwitcher" title="" th:title="#{leftHidden}"></i>
					<span id="leftSwitcher2" class="fa fa-indent" title="" th:title="#{leftShow}"></span>
				</div>
				<!-- search -->
				<div class="pull-left" id="searchWrap">
					<form class="navbar-form form-inline col-lg-2" id="searchNote">
						<input class="form-control" placeholder=""
							th:title="#{SearchNote}" type="text" id="searchNoteInput" />
					</form>
				</div>
				<!-- 全局按钮 -->
				<div class="pull-left" style="" id="newNoteWrap">
					<!-- 新建笔记 -->
					<div id="newMyNote">
						<a class="new-note" id="newNoteBtn" title="" th:title="#{newNote}">
							<!--<i class="fa fa-file-o"></i>--> <span class="new-note-text"
							th:text="#{newNote}"></span> <span
							class="new-note-text-abbr" th:text="#{new}"></span>
						</a> <span class="new-split">|</span> <a class="new-note new-markdown"
							id="newNoteMarkdownBtn" title="" th:title="#{newMarkdown}"> <!-- <i class="lea-icon icon-markdown"></i> -->
							<span class="new-markdown-text" th:text="#{newMarkdown}"></span>
							<span class="new-markdown-text-abbr">Md</span>
						</a> <span class="for-split"> - </span> <span
							id="curNotebookForNewNote" notebookId=""></span>
					</div>

					<!-- 只为新建别人的笔记 -->
					<div id="newSharedNote" style="display: none">
						<a id="newSharedNoteBtn" class="new-note"> <!--<i class="fa fa-file-o"></i> -->
							<span class="new-note-text" th:text="#{newNote}"></span> 
							<span class="new-note-text-abbr" th:text="#{new}"></span>
						</a> <span class="new-split">|</span> <a id="newShareNoteMarkdownBtn"
							class="new-note new-markdown" title="" th:title="#{newMarkdown}">
							<span class="new-markdown-text" th:text="#{newMarkdown}"></span> 
							<span class="new-markdown-text-abbr">Md</span>
						</a> <span class="for-split"> - </span> <span
							id="curNotebookForNewSharedNote" notebookId="" userId=""></span>
					</div>
				</div>

				<div class="pull-left" id="leanoteMsg">
					<span id="msg" style="display: inline-block;"></span> <span
						id="loading"> </span>
				</div>

				<div class="pull-right" id="myProfile">
					<div class="dropdown">
						<a class="dropdown-toggle profile-img" title="" th:title="${userInfo.username}" data-toggle="dropdown"> 
							<!-- 头像图片 -->
							<img id="myAvatar"  alt="" th:alt="${userInfo.username}" th:title="${userInfo.username}" title=""
								th:src="  ${userInfo.logo==null?'':userInfo.logo}+'/images/blog/default_avatar.png'"
								src="/images/blog/default_avatar.png"/>
							<span class="username" th:text="${userInfo.username}"> </span> <i
							class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu li-a" role="menu">
							<li role="presentation"><a href="/member" target="_blank">
									<i class="fa fa-user"></i> <span th:text="#{memberCenter}"></span>
							</a></li>

							<li role="presentation" id="setTheme"><a> <i
									class="fa fa-sun-o"></i> <span th:text="#{Theme}"></span>
							</a></li>

							<li role="presentation" class="divider"></li>
							<li role="presentation"><a href="/member/blog/index"
								target="_blank"> <i class="fa fa-bold"></i> 
								<span th:text="#{blogSet}"></span>
							</a></li>

							<li role="presentation" class="my-link"><a target="_blank"
								href="#"  th:href="${userInfo.blogUrl}" > <i class="fa fa-bold"></i> <span
									th:text="#{myBlog}"></span>
							</a></li>

							<li role="presentation"
								class="divider my-link writing-mobile-hide"></li>
							<li role="presentation"
								class="my-link toggle-editor-mode writing-mobile-hide"><a
								href="#writing" title="" th:title="#{writingMode}+'ctrl/cmd+e'"><i
									class="fa fa-rocket"></i> <span th:text="#{writingMode}"></span>
							</a></li> 
							<li role="presentation" class="divider" th:if="${isAdmin}"></li>
							<li role="presentation" th:if="${isAdmin}" >
								<a target="_blank" title="" th:title="#{admin}" href="/admin/index"> 
									<i	class="fa fa-dashboard"></i>
									<span th:text="#{admin}">admin</span>
								</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation" onclick="logout()"><i
								class="fa fa-sign-out"></i>  <span th:text="#{logout}">logout</span></li>
						</ul>
					</div>
				</div>
				<div class="pull-right top-nav writting-hide lea-blog">
					<a target="_blank" href="http://lea.leanote.com" th:text="#{Explore}"></a>
				</div>

				<div class="pull-right top-nav writting-hide" id="myBlog">
					<a target="_blank" href="#" th:href="${blogUrl}+'/'+${userInfo.username}" th:text="#{myBlog}"></a>
				</div>
				<div class="pull-right toggle-editor-mode top-nav"
					id="toggleEditorMode">
					<a href="#writing">
						<span th:text="#{writingMode}"></span>
					</a>
				</div>

				<div class="pull-right top-nav" id="demoRegister" th:if="'demo@leanote.com'==userInfo.email and openRegister==true">
					<span th:text="#{demoRegister}"></span>
				</div>

				<div style="clear: both"></div>
			</div>