<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        " default-autowire="byName">

    <bean id="noteUserService" class="com.pursuit.noteblog.service.impl.NoteUserServiceImpl"/> 
    <bean id="noteContentService" class="com.pursuit.noteblog.service.impl.NoteContentServiceImpl"/>
    <bean id="noteConfigService" class="com.pursuit.noteblog.service.impl.NoteConfigServiceImpl"  
    	init-method="init"  destroy-method="destroy" />
    <bean id="noteBookService" class="com.pursuit.noteblog.service.impl.NotebookeServiceImpl"/>

	<!-- 用户session控制 -->
    <bean id="userLoginStatusService" class="com.pursuit.noteblog.web.conversation.impl.UserLoginStatusCookieServiceImpl"/>
    
</beans>
