@charset "UTF-8";
.block{
    height:550px;
	border:1px solid red;
}
.main{
    
    margin-top:  50px;
}
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  height: 100%;
}