<!DOCTYPE html>
<html lang="zh">
<div th:replace="/common/fragment :: header"></div>
<style>
html, body {
	height: 100%;
}
</style>
<body id="boxBody">

<section id="box" class="animated fadeInUp">
	<div>
		<h1 id="logo"></h1>
		<div id="boxForm">
			<div id="boxHeader" th:text="#{findPassword}">Find password</div>
			<form>
				<div class="alert alert-danger" id="loginMsg"></div>
				
				<div class="form-group"> 
					<label class="control-label" for="email" th:text="#{email}">Email</label>
					<input type="text" class="form-control" id="email" name="email" th:value="${email}"/> 
				</div>
				
				<button id="loginBtn" class="btn btn-success" th:text="#{findPassword}">Find password</button> 
			</form>		
		</div>
		
    </div>
</section>

<div id="boxFooter">
	<p>
		<a href="/login" th:text="#{login}">Sign in</a>
		&nbsp;
		<a href="/index" th:text="#{home}">Home</a>
	</p>
	<p>
		© <a href="https://leanote.com">Leanote</a>
	</p>
</div>

<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/common.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
$(function() {
	$("#email").focus();
	if($("#email").val()) {
		$("#pwd").focus();
	}
	function showMsg(msg, id) {
		$("#loginMsg").html(msg).show();
		if(id) {
			$("#" + id).focus();
		}
	}
	function hideMsg() {
		$("#loginMsg").hide();
	}
	$("#loginBtn").click(function(e){
		e.preventDefault();
		var email = $("#email").val();
		if(!email) {
			showMsg("[[#{inputEmail}]]", "email");
			return;
		} else {
			var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
			if(!myreg.test(email)) {
				showMsg("[[#{wrongEmail}]]", "email");
				return;
			}
		}
		
		$("#loginBtn").html("[[#{ing}]]...").addClass("disabled");
		// hideMsg();
		
		$.post("/doFindPassword", {email: email}, function(e) {
			$("#loginBtn").html("[[#{findPassword}]]").removeClass("disabled");
			if(e.Ok) {
				var msg = "[[#{findPasswordSendEmailOver}]]";
				var loginAddress = getEmailLoginAddress(email);
				if(loginAddress) {
					msg += ' <a target="_blank" href="' + loginAddress + '">'+[[#{checkEmai}]]+'</a>';
				}
				$("#loginMsg").html(msg).show().removeClass("alert-danger").addClass("alert-success");
			} else {
				showMsg(e.Msg, "email");
			}
		});
	});
});
/*]]>*/
</script>
</body>
</html>
