<!DOCTYPE html>
<html lang="zh">
<div th:replace="/common/fragment :: header"></div>

<body class="lang-en-us" th:class="'lang-'+${locale}" >
<div th:include="/common/fragment :: nav"></div>
<section>
	<div class="header">
		<h2 th:text="'Leanote,'+#{moto}">Leanote, Not Just A Notepad!</h2>
		<p  th:text="#{moto3}">Brief But Not Simple</p>
		<p  th:text="#{moto2}">Knowledge, Blog, Sharing, Cooperation... all in Leanote</p>
		
		<div>
			<a class="btn btn-default btn-primary" href="/register" th:text="#{register}">Sign up</a> 
			&nbsp;
			&nbsp;
				<a th:if="${user==null}"  class="btn btn-default" href="/login" th:text="#{login}">Sign in</a>
				&nbsp;
				&nbsp;
			
			<a class="btn btn-default" href="/demo" th:text="#{try}">Try it</a>
		</div>
	</div>
	
	<div class="preview" style="position: relative;">
		<div>
			<div class="img-header">
				<img src="/images/home/mac-btns.png"/>
			</div>
			<div id="webSliderContainer">
			    <img class="web-slider" data-text="Default theme - markdown" src="/images/slider/v2/default_markdown.png"/>
			    <img class="web-slider hide-img" data-text="Default theme - rich editor"  src="/images/slider/v2/simple_tinymce.png"/>
			    <img class="web-slider hide-img" data-text="Simple theme - markdown" src="/images/slider/v2/simple_markdown.png"/>
			    <img class="web-slider hide-img" data-text="Writting mode" src="/images/slider/v2/writting.png"/>
			</div>
		</div>
		<div class="slider-desc"><span id="webText">Default theme - markdown</span></div>
		<div class="mobile">
			<div class="mobile-header">
				<img src="/images/home/mac-dot.png" />
			</div>
			<div id="mobileSliderContainer">
		        <img class="mobile-slider" data-text="Mobile" src="/images/slider/v2/mobile_simple_list.png" />
			    <img class="mobile-slider hide-img" data-text="Mobile markdown" src="/images/slider/v2/mobile_markdown.png" />
			</div>
		    <div class="slider-desc mobile-text"><span id="mobileText">Default theme - markdown</span></div>
		</div>
	</div>
</section>

<div class="container" id="aboutLeanote">
	<h2 th:text="#{aboutLeanote}">About Leanote</h2>
     <div class="row">
        <div class="col-md-3">
          <h3 th:text="#{knowledge}">Knowledge</h3>
          <p  th:text="#{knowledgeInfo}">Use Leanote as a note, manage your knowledge in Leanote.</p>
        </div>
         <div class="col-md-3">
          <h3 th:text="#{blog}">Blog</h3>
          <p  th:text="#{blogInfo}">You can public your knowledge and leanote is your blog!</p>
        </div>
        <div class="col-md-3">
          <h3 th:text="#{share}">Share</h3>
          <p  th:text="#{shareInfo}">Share your knowledge to your friends in Leanote.</p>
       </div>
        <div class="col-md-3">
          <h3 th:text="#{cooperation}">Cooperation</h3>
          <p  th:text="#{cooperationInfo}">Collaborate with friends to improve your knowledge.</p>
        </div>
      </div>
</div>

<div th:replace="/common/fragment :: footer"></div>
<script src="/js/jquery-1.9.0.min.js"  ></script>
<script src="/js/bootstrap.js"></script>
<script>
var lang = '{{.locale}}';
</script>
<script src="/js/home/index.js"></script>


</body>
</html>